<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>gitlab-maven</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Job-Token</name>
                        <value>${env.CI_JOB_TOKEN}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
        <server>
            <!--registry.gitlab.com-->
            <id>${REGISTRY_PUSH_URL}</id>
            <username>${env.REGISTRY_PUSH_USERNAME}</username>
            <password>${env.REGISTRY_PUSH_PASSWORD}</password>
        </server>
        <server>
            <!--docker.io-->
            <id>${REGISTRY_PULL_URL}</id>
            <username>${env.REGISTRY_PULL_USERNAME}</username>
            <password>${env.REGISTRY_PULL_PASSWORD}</password>
        </server>
    </servers>


    <profiles>
        <profile>
            <id>gitlab-build</id>
            <properties>
                <releases.repo.id>gitlab-maven</releases.repo.id>
                <releases.repo.url>https://gitlab.com/api/v4/projects/${env.CI_PROJECT_ID}/packages/maven
                </releases.repo.url>
                <snapshots.repo.id>gitlab-maven</snapshots.repo.id>
                <snapshots.repo.url>https://gitlab.com/api/v4/projects/${env.CI_PROJECT_ID}/packages/maven
                </snapshots.repo.url>
            </properties>
            <repositories>
                <!-- Apache Karaf feature - OSGi R7 JAX RS whiteboard -->
                <repository>
                    <id>gitlab-karaf-jax-rs-whiteboard-feature</id>
                    <url>https://gitlab.com/api/v4/projects/19517793/packages/maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <!-- Apache Karaf feature - Config Extension - OSGi R7 Configurator, Config Admin Interpolation -->
                <repository>
                    <id>gitlab-karaf-config-extension-feature</id>
                    <url>https://gitlab.com/api/v4/projects/19494109/packages/maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <!--
                Fragment bundle refresh - optional runtime dependency, hosted at Gitlab maven registry.

                Restore the integrity of fragment bundles within Apache Karaf and Apache Felix as the selected
                runtime option.

                Note:
                Fragment bundle refresh is relevant for Apache Felix exclusively.
                Equinox handles bundle refreshes out of the box.
                -->
                <repository>
                    <id>gitlab-osgi-helper</id>
                    <url>https://gitlab.com/api/v4/projects/18953434/packages/maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>gitlab-build</activeProfile>
    </activeProfiles>

</settings>
